header {
  display: flex;
  justify-content: flex-start;
  top: 0;
  width: 100%;
  background-color: brown;
}

.nav_link {
  color: rgb(115, 41, 184);
}

.nav_link:hover {
  color: rgb(171, 203, 237);
}

#light_or_dark {
  display: flex;
  align-self: flex-end;
}

body {
  background-color: cornflowerblue;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: brown;
}
